@charset "utf-8";
body.crud {max-width: 100%;}
.crud .field:hover, .crud .field:focus-within {
  background: var(--color-gray-100);
  outline: 0.5rem solid var(--color-gray-100);
}
.crud .error {scroll-margin: 6rem;}
.crud .group-title {
  background: var(--color-primary);
  padding: 0.25rem;
  margin: 0.5rem 0 1rem 0;
}
.crud section:not(:first-of-type) {
  margin-top: 8rem;
}
.crud .fragment {
  position: relative;
  display: block;
  top: -4rem;
}
.crud .filters {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, max-content));
  column-gap: 3rem;
  row-gap: 3rem;
  align-items: flex-start;
  justify-content: end;
  box-sizing: border-box;
  padding: 1rem 0;
}
.crud .filters .field {
  margin: 0;
}
.crud .table-row .field {
  display: inline-flex;
  align-items: center;
  margin: 0 .25rem 0 0;
}
.crud .table-row .field:not(:first-child) {
  margin-top: .5rem;
}
.crud .table-row .field-label {
  margin: 0 .25rem 0 0;
}
.crud .table-col .field.list {display: flex; flex-direction: column; align-items: flex-start;}
.crud .bulk-col {
  max-width: 2rem;
  overflow: visible;
  position: relative;
}
.table-col textarea {
  width: 100%;
  display: block;
}
.crud .filters .closed {
  display: none;
}
.crud .filters:target > .closed {
  display: block;
}
.crud .filters:target > .closed-reversed {
  display: none;
}
.crud .filter-group-body {
  box-sizing: border-box; /*fix overflow input elements inside details element*/
}
.crud .filter-group .field {
  margin: 1rem 0;
}
.crud .bulk {
  display: none;
  padding: 1rem 0;
}
.crud .bulk:target {
  display: block;
}
.crud .sort::after {
  content: "↕"; padding-left: 0.5rem;
}
.crud .sort-up::after {
  content: "↑"; padding-left: 0.5rem;
}
.crud .sort-down::after {
  content: "↓"; padding-left: 0.5rem;
}
.crud .no-records {
  margin-top: 1rem;
}
.crud-cards {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 2rem;
}
.fields {
  container-type: inline-size;
  container-name: fields;
}
@container fields (min-width: 769px) {
  .field-crud {display: flex;}
  .field-crud .field-label {flex-basis: 0; flex-grow: 2; flex-shrink: 0; margin-right: 1.5rem;}
  .field-crud > .field-label {text-align: right;}
  .field-crud .field-body {flex-basis: 0; flex-grow: 5; flex-shrink: 1;}
  .field-crud .field-label .required, .field-crud .field-label .optional {display: block; margin-left: 0; margin-top: var(--spacing-xs);}
}
.field-crud .field-body pre {
    white-space: pre-wrap;
    word-break: break-word;
    overflow-wrap: anywhere;
    max-height: 400px; /* optional */
    overflow-y: auto; /* optional */
    line-height: 0.8;
    font-size: 1rem;
}
.crud .item-header {
  border-top: 1px solid var(--color-black);
}
.crud .file-actions span:not(:last-child):after {
  content: " |";
  color: #333;
}

.crud .sticky-controls {
  top: 0;
  overflow: visible; /*for dropdowns*/
  background: var(--color-white);
}
.crud ol.menu-breadcrumb {
  margin-bottom: 0.5rem;
}
.crud-dropdown {
  position: relative;
}
.crud-dropdown-menu {
  display: none;
  position: absolute;
  padding-top: .25rem;
  right: 0;
  z-index: 39;
}
.crud-dropdown-body {
  background: var(--color-white);
  padding: .25rem 0;
  min-width: 8rem;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}
.crud-dropdown-item {display: block; width: 100%;}
.crud-dropdown-item .button {width: 100%; padding: .25rem .5rem; justify-content: flex-start; text-align: left;}
.crud-dropdown-item .button:hover {background: var(--color-gray-100);}
.crud-dropdown.open .crud-dropdown-menu {display: block;}
[data-dropdown="bulk"] {position: absolute; top: 0; right: 2.5rem; z-index: 30;}
/* mobile */
@media screen and (max-width: 768px), print {
  .crud-dropdown-menu {right: 50%; transform: translateX(50%);}
}
.crud-options {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.crud-option label {
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  gap: .5rem;
}
.crud-option img {
  max-width: 50px;
}

/* Select Input */
.crud-select-input-ctn {position: relative;}
.crud-select-input-btn {
  width: 100%;
  font-family: var(--font-input);
  font-size: var(--text-input);
  border: 1px dotted var(--color-gray-900);
  background: var(--color-white);
  padding: 0.25rem 0.5rem;
  cursor: pointer;
  text-decoration: none;
  display: inline-flex;
  position: relative;
  justify-content: flex-start;
  align-items: center;
  text-align: left;
  line-height: var(--text-input-lh);
  min-height: 3rem;
}
.crud-select-input-btn.small {min-height: 2rem;}
.crud-select-input-btn:hover {border-style: solid; border-color: var(--color-hover);}
.crud-select-input-dropdown {
  position: absolute;
  z-index: 39;
  display: flex;
  visibility: hidden;
  flex-direction: column;
  border: 1px solid var(--color-gray-300, whitesmoke);
  width: fit-content;
  min-width: 250px;
  max-height: 400px;
  overflow: hidden;
  -ms-overflow-y: visible;
  pointer-events: auto;
  background-color: var(--color-white);
  box-shadow: 0px 1px 6px 0px var(--color-shadow);
}
.crud-select-input-dropdown.active {visibility: visible;}
.crud-select-input-dropdown-body {
  -webkit-overflow-scrolling: touch;
  background-color: var(--color-white, white);
  flex-grow: 1;
  flex-shrink: 1;
  overflow: auto;
}
.crud-select-search {padding: .5rem;}
.crud-select-options {
  display: flex;
  flex-direction: column;
}
.crud-select-option:not(:first-of-type) {
  border-top: 1px solid var(--color-gray-100, whitesmoke);
}
.crud-select-option {
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  gap: .5rem;
  padding: .5rem;
}
.crud-select-option.unselectable {cursor: default;}
.crud-select-option.unselectable-list {cursor: default; display: flex;}
.crud-select-option img {
  max-width: 50px;
}
.crud-select-option:hover {background-color: var(--color-gray-100, whitesmoke);}
.crud-select-input-dropdown .crud-select-option-remove-btn, .modal-single-options .crud-select-option-remove-btn {display: none;}
.crud-select-input-btn .crud-select-option:hover {background-color: transparent;}
.crud-select-option-remove-btn, .crud-select-option-remove-btn svg {display: block;}

.crud .editor-textarea {background: var(--color-white);}
.overflow-visible {
  overflow: visible;
}

/* Misc */
[data-filter="columns"] .wrap-v {justify-content: space-between;}
.inline-success-indicator {
  position: absolute;
  right: .25rem;
  top: 50%;
  transform: translateY(-50%);
  animation: fadeInOut 1.2s ease;
  pointer-events: none;
}
@keyframes fadeInOut {
  0% { opacity: 0; }
  10% { opacity: 1; }
  90% { opacity: 1; }
  100% { opacity: 0; }
}

/* Buttons */
.crud-buttons {display: flex;}
.crud-buttons.left {justify-content: flex-start;}
.crud-buttons.center {justify-content: center;}
.crud-buttons.right {justify-content: flex-end;}

/* Message */
.crud-message {
  --cmsg-color: var(--color-text);
}
.crud-message.success {
  --cmsg-color: var(--color-success);
}
.crud-message.warning {
  --cmsg-color: var(--color-warning);
}
.crud-message.danger {
  --cmsg-color: var(--color-error);
}
.crud-message.info {
  --cmsg-color: var(--color-info);
}
.crud-message {
  display: flex;
  align-items: center;
  position: relative;
  overflow: hidden;
}
.crud-message.alert {gap: 1rem; padding: .5rem; border: 1px solid var(--cmsg-color)}
.crud-message-body {display: flex; flex-direction: column; gap: .25rem;}
.crud-message-icon {display: inline-flex; color: var(--cmsg-color);}
.crud-message-icon svg {width: 2rem; height: 2rem; flex-grow: 0; flex-shrink: 0;}

/* Tree */
ul.crud-tree, ul.crud-tree li {list-style-type: none;}
ul.crud-tree li li {padding-left: 1.5rem;}
.crud-tree-heading {display: flex; flex-direction: row; align-items: center; margin-bottom: 1rem;}
.crud-tree-item {display: flex; flex-direction: row; align-items: center; margin-bottom: 1rem;}
.crud-tree-item.tr {border-bottom: 3px solid var(--color-gray-300);}
.crud-tree-item.td {background: var(--color-gray-100);}
.crud-tree-item-col {flex: 2; padding: 0.5rem;}
.crud-tree-grab-col {width: 1.5rem; display: flex; align-items: center;}
ul.crud-tree li li .crud-tree-item-col:nth-child(3) {margin-left: -1.5rem;}
.crud-drag {cursor: grab;}
ul.crud-tree input:not([type="checkbox"]):not([type="radio"]):not([type="file"]), .ul.crud-tree select {
  font-size: 1rem;
  height: 2rem;
  vertical-align: top;
  box-sizing: border-box;
  width: calc(100% - 1.5rem);
}